

<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<p>Name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>

<%= button_to edit_user_path, method: :get do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>