
<p>Book details</p>

<%= book_tag @book.get_image %>
table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
 <% @books.each do |book| %>
 <tr>
 <td><%= book.title %></td>
 <td><%= book.body %></td>
 <% end %>
 </tbody>
 </table>
